.dlgHeader
{
   padding: 4px 4px 4px 4px;
    background:  #003399 url(images/vertgradient.png) repeat-x;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    color: khaki;
}
.dlgFrame
{
  box-shadow: 3px 3px 5px #535353;
  border-radius: 6px 6px 6px 6px;
}

